.body{
  background-color:  blanchedalmond;
  width: 100%;
  height: 2000px;
}
.head{
  background-color: #fdcb6e;
  width: 100%;
  height: 10%;
  position: fixed;
  text-align: center;
  border: 1px solid #fdcb6e;
  color: black;
  font-size: 25px;
  top:0px;
}
.sug{
  position: absolute;
  text-align: left;
  margin-left: 5%;
  font-size: 200%;
}